# Terraform files
.terraform
terraform.tfstate
terraform.tfvars
*.tfstate*
.terragrunt

# OS X files
.history
.DS_Store

# IntelliJ files
.idea_modules
*.iml
*.iws
*.ipr
.idea/
build/
*/build/
out/

examples/bin

# Go best practices dictate that libraries should not include the vendor directory
vendor

# OpenVPN Client Config files
*.ovpn
!/modules/install-openvpn/files/openvpn-client.ovpn
examples/openvpn-host/.test-data
*.pem
